APP_NAME=Narrador Studio
APP_ENV=local
APP_DEBUG=true

DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

TTS_BINARY=edge-tts
AUDIO_PATH=public/audio
TEMP_PATH=storage/temp

APP_URL=https://narrador.pwa
TIMEZONE=America/Santiago